<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assign Service</title>
</head>
<body>
<form action="/admin/assign_service" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <label for="serviceId">Service:</label><br>
  <select id="serviceId" name="serviceId">
    <option th:each="service : ${services}" th:value="${service.id}"
            th:text="${service.name}"></option>
  </select><br>
  <label for="hairdresserId">Hairdresser:</label><br>
  <select id="hairdresserId" name="hairdresserId">
    <option th:each="hairdresser : ${hairdressers}" th:value="${hairdresser.id}"
            th:text="${hairdresser.lastName + ' ' + hairdresser.firstName}"></option>
  </select><br>
  <input type="submit" value="Assign">
</form>

</body>
</html>