<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hairdresser Registration Review</title>
</head>
<body>
<h1>Hairdresser Registration Review</h1>
<table>
  <thead>
  <h2>Personal Information</h2>
  <tr>
    <th>ID</th>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Email:</th>
    <th>Phone:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${hairdresser.id}"></td>
    <td th:text="${hairdresser.firstName}"></td>
    <td th:text="${hairdresser.lastName}"></td>
    <td th:text="${hairdresser.email}"></td>
    <td th:text="${hairdresser.phone}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
