<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Appointment</title>
  <script>
    function updateHairdressers() {
      const serviceName = document.getElementById("serviceId").value;
      console.log("Selected service:", serviceName);

      const hairdressers = document.querySelectorAll("#hairdresserId option");

      hairdressers.forEach((hairdresser) => {
        const services = hairdresser.getAttribute("data-services").split(",");
        console.log("Hairdresser:", hairdresser.textContent, "Services:", services);

        // Additional debugging information
        services.forEach(service => {
          console.log("Comparing:", service, "with", serviceName, "Result:",
              service === serviceName);
        });

        const shouldDisplay = services.includes(serviceName);
        console.log("Should display hairdresser:", shouldDisplay);

        hairdresser.style.display = shouldDisplay ? "" : "none";
      });
    }

    document.addEventListener("DOMContentLoaded", function () {
      updateHairdressers();
    });
  </script>
</head>
<body>
<h1>Book an Appointment</h1>
<form th:action="@{/client/book}" method="post">
  <label for="hairdresserId">Hairdresser:</label>
  <select id="hairdresserId" name="hairdresserId">
    <option th:each="hairdresser : ${hairdressers}"
            th:value="${hairdresser.id}"
            th:text="${hairdresser.firstName + ' ' + hairdresser.lastName}"
            th:attr="data-services=${#strings.replace(#strings.replace(hairdresser.getBeautyServicesNames(), '[', ''), ']', '')}">
    </option>
  </select>

  <br>

  <label for="serviceId">Service:</label>
  <select id="serviceId" name="serviceName" onchange="updateHairdressers()">
    <option th:each="serviceName : ${services}"
            th:value="${serviceName}"
            th:text="${serviceName}">
    </option>
  </select>

  <br>

  <label for="dateTime">Date and Time:</label>
  <input type="datetime-local" id="dateTime" name="dateTime">

  <br>

  <button type="submit">Book Appointment</button>
</form>
</body>
</html>