<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Hairdresser Appointments</title>
</head>

<body>
<h1>Hairdresser Appointments</h1>
<h2>Completed Appointments</h2>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Client</th>
    <th>Service</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${completedAppointments}">
    <td th:text="${appointment.appointmentTime}"></td>
    <td th:text="${appointment.client.lastName + ' ' + appointment.client.firstName}"></td>
    <td th:text="${appointment.beautyService.name}"></td>
  </tr>
  </tbody>
</table>

<h2>Pending Appointments</h2>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Client</th>
    <th>Service</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${pendingAppointments}">
    <td th:text="${appointment.appointmentTime}"></td>
    <td th:text="${appointment.client.lastName + ' ' + appointment.client.firstName}"></td>
    <td th:text="${appointment.beautyService.name}"></td>
    <td th:text="${appointment.isCompleted ? 'Completed' : 'Pending'}"></td>
    <td>
      <form th:action="@{/hairdresser/appointments/{id}/complete(id=${appointment.id})}"
            method="post">
        <button type="submit">Mark as completed</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
